/* Spacing
---------------------------------------- */
$xs-size: 0.9rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem; 
$xl-size: 4.8rem;

/* Font Sizes
---------------------------------------- */
$fs-large: 1.8rem;
$fs-medium: 1.4rem;

/* Colors
---------------------------------------- */
$white: #FFFFFF;

$dark-grey: #333;
$light-grey: #F2F2F2;

$light-blue: #3273ff; 
$mid-blue: #2350B2;
$dark-blue: #18387c;

/* Transistions
---------------------------------------- */
$trans-how-ease: ease-in-out;
$trans-time-normal: 0.2s;
$trans-what-all: all;

/* Mobile Breakpoints
---------------------------------------- */
$desktop-breakpoint: 45rem;